nav {
  width: 100%;
  float: left;
  margin-bottom: 20px;
}
nav img {
  width: 130px;
  height: 50px;
  float: left;
}
nav .search {
  margin: 10px 0 0 20%;
  float: left;
}
.search input[type=text] {
  width: 500px;
  margin-top: 5px;
  float: left;
}
.search button {
margin-top: 5px;
padding: 1.5px;
}
button img {
  width: 20px;
  height: 21px;
}
nav .topright {
  float: right;
  margin-right: 10px;
}

.content {
  width: 60%;
  float: left;
  margin-left: 20px;
}
.sidenav {
  width: 25%;
  float: right;
}
.sidenav ul li {
  list-style: none;
}
.svgNav {
  width: 40px;
  height: 25px;
  padding: 10px 5px;
  float: left;
}
svg{
  fill: #606060;
}
svg:hover{
  fill: #9C9A9A;
}
#avatar{
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.thumbnail{
  display: inline-flex;
}
aside{
  float: right;
  width: 20vw;
}
.thumbnailImg{
  position: relative;
}
#timeStamp,h2,h1{
  font-family: arial;
}
#timeStamp{
  position: absolute;
  background-color: black;
  color: white;
  bottom: -8px;
  right: 16px;
}
iframe{
  width: 70vw;
  height: 65vh;
}
.videoDetails {
  float: left;
  width: 100%;
}
.content-icons {
  width: 20px;
  padding: 20px;
  float: right;
}
